# Packages
node_modules/
yarn.lock

# Log files
logs/
*.log

# Icons
icons/

# Documentation
docs/out/

# Miscellaneous
.tmp/
.vscode/
.eslintrc.json
.gitattributes
.gitignore
.travis.yml
.github/
.git/
test/